<div class="container">

<div class="circle"></div>
  <h1 class="my-3 h2h-heading">You're not the only one</h1>
  <div class="quotes mb-5">
    <blockquote> All of my friends who think that I'm blessed... And they don't know what I've been through like you do.</blockquote>
    <cite>- Brandi Carlile</cite>
  </div>

  <div class="col-12 col-lg-12">
    <div class="cards d-flex flex-wrap">
      <% @profiles.each do |profile| %>
      <div class="card-profile-index col-12 col-lg-6">
        <%= cl_image_tag profile.photo.key if profile.photo.attached? %>
        <div class="card-profile-index-infos">
          <h5><%= profile.name %></h5>
          <h6> I have a disease </h6>
          <p><%= link_to "See more", profile_path(profile) %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
