
<div class="container">
  <h1>Complete a Profile</h1>
  <h6>Your name (doesn't have to be real) and your condition (should be your actual) are all required for now. 
  Feel free to write more. The more detailed your bio is, 
  the better chance you have finding someone who really understands you</h6>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
    <%= render 'form', profile: @profile %>
    </div>
  </div>
</div>
