
<div class="container">
  <h1>Tell more about you</h1>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
    <%= render 'form', profile: @profile %>
  </div>
  </div>
</div>
