
<div class="container my-5">
  
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
    <h1 class="font-weight-bold">Complete your Profile</h1>
  <h6 class="mb-5">Your name (doesn't have to be real) and your condition (should be your actual) are all required for now. 
  Feel free to add more. The more detailed your profile is, 
  the better chance you have finding someone who really understands you.</h6>
    <%= render 'form', profile: @profile %>
    </div>
  </div>
</div>
