// Specific CSS for your home-page
.btn-cta {
  position:absolute;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  top:75%;
  left:5%;
  color: #37464D;
  background-color: rgba(255, 245, 0, 0.95);
  font-family: 'Nunito', sans-serif;
  border-color: #CFD9D8;
  transition: 0.3s;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
}

.btn-cta:hover {
  background-color: #fff500;
  border-color: #CFD9D8;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
  color: #37464D;
  }

// .circle {
//    width: 350px;
//    height: 550px;
//    background: rgb(246, 156, 85);
//    border-radius: 50%;
// }
