<div class="container my-5">

  <% if @chats.empty? %>
    <h1>You haven't chat with anyone</h1>
  <% else %>
    <h3 class="my-5 alert-warning">You're not allowed to see that private chat. Or such chat does not exist.</h3>
    <h3>Below are all your private chats:</h3>
    <ul>
    <% @chats.each do |chat| %>
      <li>
      <% partner_name = current_user == chat.users.first ? chat.users.last.profile.name : chat.users.first.profile.name %>
      <%= link_to "Chat with #{partner_name}", chat_path(chat) %>
      </li>
    <% end %>
    </ul>
  <% end %>

</div>
