
<div class="live-with-modal" >
<!-- if statement only for signed in users without profile -->
<% if user_signed_in? && Profile.find_by(user: current_user).nil? %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="clickButton" data-toggle="modal" data-target="#exampleModal">
  I live with
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">I live with:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= simple_form_for (@profile) do |f| %>
          <%= f.input :disease, collection: @disease_select, input_html: { class: "select2", id:"disease_form" } %>
          <%= f.submit 'submit', class: 'btn btn-primary' %>
        <% end %>

      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<% end %>

</div>
