
<br>
<div class="container">
<div class="card-trip">
  
   <%= cl_image_tag @post.photos if @post.photos.attached? %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @post.title %></h2>
      <p><%= @post.content %></p>
    </div>
   <%# <h2 class="card-trip-pricing">£99.99</h2> %>
     <%= cl_image_tag current_user.profile.photo.key, width: 40, height: 40, gravity: :face, crop: :fill, class: "avatar dropdown-toggle", 'aria-haspopup': true, 'aria-expanded': false %>
  </div>
</div>
</div>


