
<br>
<div class="container">
<div class="card-trip">
  <%  if @post.photos.attached? %>
    <%= cl_image_tag @post.photos.first.key %>
  <% else %>
   <img src="https://media.nesta.org.uk/images/good_help_bad_help.max-1200x600.png"/>
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @post.title %></h2>
      <p><%= @post.content %></p>
    </div>
     <%= cl_image_tag @post.photos, width: 40, height: 40, gravity: :face, crop: :fill, class: "avatar dropdown-toggle", 'aria-haspopup': true, 'aria-expanded': false %>
  </div>
</div>
</div>


