.circle
  {
    border-radius: 50%;
    width: 360px;
    height: 360px;
    background-color: #fff500;
    transform: translate(-80px, -240px);
    position: absolute;
    z-index: -1;
    animation-name: circle-h2h;
    animation-duration: 20s;
    // animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

.h2h-heading {
  font-size: 6em;
  font-weight: bold;
  animation-name: h2h-heading;
  animation-duration: 20s;
    // animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes circle-h2h {
  0%   {background-color: #fff500;}
  25%  {background-color: yellow;}
  50%  {background-color: yellow; transform:scale(1.05,1.05);}
  100% {background-color: #fff500;}
}

@keyframes h2h-heading {
  0%   {letter-spacing: 0px;}
  25%  {letter-spacing: 1px;}
  50%  {letter-spacing: 2px;}
  100% {letter-spacing: 0px;}
}