.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}


// .banner p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }

#banner-home {
  height: 640px;
  // text-align: right;
  // position: relative;

  h2 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    margin-top: 70px;
    margin-left: auto;
    // margin: 0 auto;
    // text-align: center;
    // bottom: 128px;
    // bottom: 75px;
    // right: 130px;
    // right: 610px;
    z-index: 1;
    &:after {
      content: "";
      width: 30%;
      z-index: -1;
      height: 20px;
      position: absolute;
      bottom: -4px;
      right: 160px;
      background: #fff500;
      opacity: 0.8;
      // background-image: linear-gradient(rgba(238,232,9,0),rgba(238,232,9,0) 50%,rgba(238,232,9,.6) 51%,rgba(238,232,9,.6));
      // transition: all .25s ease;
    }
  }
  @media only screen and (max-width: 767px) {

   h2 {
      font-size: 22px;
   }
}
}

.btn-secondary.btn-search {
  background-color: #fff500;
  color: black;
  // text-shadow: 2px 3px 3px rgba(0,0,0,0.4);
  border-radius: 20px;
  width: 120px;
  margin-left: 10px;
    // outline: none;
    border: none;
  // border-color: none !important;
}

#banner-home-two {
    height: 600px;
  // text-align: right;
  // position: relative;

  h2 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    margin-top: 20%;
    margin-left: 36%;
    // margin: 0 auto;
    // text-align: center;
    // bottom: 128px;
    // bottom: 75px;
    // right: 130px;
    // right: 610px;
    z-index: 1;
    &:after {
      content: "";
      width: 100%;
      z-index: -1;
      height: 20px;
      position: absolute;
      bottom: -4px;
      right: 24px;
      background: #fff500;
      opacity: 0.8;
    }
  }
}

#banner_form {
  margin: 0 auto;
  margin-top: 20%;
  display: flex;

  @media only screen and (max-width: 767px) {
    flex-direction: column;
    margin-top: 80%;
    min-width: 90%;

    h2 {
      margin-top: 86px;
    }
    #find_us_btn {
      margin-top: 8px;
    }
  }
}
