.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  &.search-results {
    grid-gap: 32px;
    margin: 80px 0;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.custom-card > img,

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.custom-card > img

 {
   height: 270px;
   width: 100%;
   object-fit: cover;
}

a.custom-card,
a.custom-card:hover {
  text-decoration: none;
  color: inherit;
}

.card-trip-posts {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-custom h2 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 40px;
  top: -122px;
  z-index: 1;
    &:after {
      content: "";
      width: 100%;
      z-index: -25;
      height: 16px;
      position: absolute;
      bottom: -2px;
      right: 8px;
      background: #fff500;
      opacity: 0.65;      // background-image: linear-gradient(rgba(238,232,9,0),rgba(238,232,9,0) 50%,rgba(238,232,9,.6) 51%,rgba(238,232,9,.6));
      // transition: all .25s ease;
    }
}

.card-trip p {
  font-size: 15px;
  opacity: .8;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


.card-not-strech img {
  max-height: 300px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  top: -297px;
  width: 40px;
}

.card-trip-infos .card-trip-likes {
  position: absolute;
  right: -21px;
  top: -292px;
  width: 40px;
  margin: 36px;
}

.card-trip-infos h2 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 16px;
  top: -64px;
  z-index: 1;
    &:after {
      content: "";
      width: 100%;
      z-index: -25;
      height: 16px;
      position: absolute;
      bottom: -2px;
      right: 8px;
      background: #fff500;
      opacity: 0.65;      // background-image: linear-gradient(rgba(238,232,9,0),rgba(238,232,9,0) 50%,rgba(238,232,9,.6) 51%,rgba(238,232,9,.6));
      // transition: all .25s ease;
    }
}

.card-trip-infos p {
  display: -webkit-box;
  max-width: 95%;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.icons-post-edit {
  visibility: hidden;
  position: relative;
  left: 220px;
  top: -40px;
  z-index: 2;
  margin-top: -30px;
  a {
    color: white;
  }
}


.cart-trip-test:hover {
  a {
  color: #fff500;
  opacity: 0.65;
  text-decoration: none;
  &:hover {
    color: #fff500;
    opacity: 1;
  }
}
  .icons-post-edit {
    visibility: visible;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &.friendship {
    justify-content: space-between;
    align-items: flex-end;
    transition: ease .5s;
    &:hover .fa-comments {
      opacity: 0.8;
      transition: ease .5s;
    }
    a {
      margin: 16px;
      color: #fff500;
      text-decoration: none;
      padding-right: 0;
      &.fa-comments {
        color: white;
        opacity: 0;
        transition: ease .5s;
        &:hover {
          color: #fff500;
          opacity: 1;
          transition: ease .5s;
        }
      }
    }
  }
}
* {
  transition: all 0.3s ease-out;
}


.card-profile-index {
  cursor: pointer;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  max-width: 500px;
  min-width: 500px;
  padding-left: 0px;
  overflow: hidden;
}

.card-profile-index:hover {
  transform: scale(1.01);
  background-color: #fff5000d;
  // border-radius: 32px;
  transition: transform 0.25s ease-out;
  text-decoration: none;
}

.card-profile-index img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius:60px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-profile-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-profile-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-decoration: none;
}

.card-profile-index .card-profile-index-infos {
  padding: 16px;
}

.card-profile-index-infos {
  color: black;
  opacity: 0.8;
  h5 {
    font-weight: bold;
  }
  h6 {
    opacity: 0.6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
  }
}


.profile-link {
  text-decoration: none !important;
}

