.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos h2 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 16px;
  top: -64px;
  z-index: 1;
    &:after {
      content: "";
      width: 128px;
      z-index: -1;
      height: 16px;
      position: absolute;
      bottom: -2px;
      right: 8px;
      background: #fff500;
      opacity: 0.8;
      // background-image: linear-gradient(rgba(238,232,9,0),rgba(238,232,9,0) 50%,rgba(238,232,9,.6) 51%,rgba(238,232,9,.6));
      // transition: all .25s ease;
    }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &.friendship {
    justify-content: left;
    align-items: flex-end;
    a {
      margin: 16px;
      color: #fff500;
      text-decoration: none;
    }
  }
}
* {
  transition: all 0.3s ease-out;
}


.card-profile-index {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  width: 30%;
  padding-left: 0px;
    overflow: hidden;

  }

 .card-profile-index:hover {
      transform: scale(1.1);
    background-color: #fff500;
    border-radius: 32px;
    transition: transform 0.25s ease-out;
}

.card-profile-index img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius:60px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-profile-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-profile-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-profile-index .card-profile-index-infos {
  padding: 16px;
}


















