.message-container.current-user {
  background-color: lightyellow;
  text-align: right;
  border: 1px solid lightgrey;
  border-radius: 50px;
  align-self: flex-end;
}
.message-container {
  border: 1px solid lightgrey;
  border-radius: 50px;
  padding-right: 30px;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 40%;
  // text-align: right;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  .avatar {
    display: none;
  }
}

#messages {
  display: flex;
  flex-direction: column;
}

.chat-user-name, .chat-date {
  color: lightgrey;
}

.chat-user-name {
  font-weight: bold;
  font-size: 0.8rem;
}

.user-message-content{
  margin-top: -4px;
}

#chat-avatar {
  h4 {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color:#05A57F;
      }
    }
    
  }
}

#chat-page {
  height: 360px;
  overflow-y: scroll;
}

#chat-avatar {
    img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 20px;
  }
}

#message_content {
  border-radius: 20px;
  margin-top: 10px;
}

.conversations-sidebar {
  color: black;
  // padding: 16px;
  width: 200px;
  flex-shrink: 0;
  // border-radius: 20px;
  padding-left: 20px;
  border-right: 1px solid lightgrey;
  padding-left: 40px;
  list-style-type: none;

  h4 {
    font-weight: bold;
    color:#05A57F;
    // background-image: linear-gradient(rgba(238,232,9,0),rgba(238,232,9,0) 50%,rgba(238,232,9,.6) 51%,rgba(238,232,9,.6));
  }
}

.person {
  border-bottom: 1px solid lightgrey;
  padding-top: 8px;
  padding-bottom: 8px;
  li a {
  color: #0e0000a1;
}}

 .person li a:hover{
  text-decoration: none;
    color: black;
 }

.chat-container {
  flex-grow: 1;
  margin-left: 160px;
  margin-right: 160px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-right: 30px;
}

.circle-chat {
    border-radius: 50%;
    width: 360px;
    height: 360px;
    background-color: #fff500;
    transform: translate(-80px, -240px);
    position: absolute;
    z-index: -1;
    animation-name: circle-h2h;
    animation-duration: 20s;
    // animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    bottom: 0;
    right: 0;
  }

.person.active {
  background-color: #05A57F;
  font-weight: bold;
  transform:scale(1.2,1.2);
  border-right: 8px solid lightgrey;
  a {
    color: white;
    &:hover {
      color: #fff500;
    }
  }
  img {
    margin-left: 8px
  }
}

.chat-user-link a {
  color: grey;
}
.chat-user-link:hover a {
  text-decoration: none;
  color: black;
}
