#post-container {
  h1 {
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    &:after {
      content: "";
      width: 80%;
      z-index: -1;
      height: 16px;
      position: absolute;
      bottom: -2px;
      left: 38px;
      background: #fff500;
      opacity: 0.8;
    }
  }
}


#post-form {
  width: 100%;
  padding: 3rem;
}

#post_content {
  height: 120px;
}

.circle-chat-post {
    border-radius: 50%;
    width: 360px;
    height: 360px;
    background-color: #fff500;
    transform: translate(-270px, -300px);
    position: absolute;
    z-index: -1;
    animation-name: circle-h2h;
    animation-duration: 20s;
    // animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    bottom: 0;
    right: 0;
}


.post-show {
  .fa-trash, .fa-edit {
    color: orange;
  }
  p {
    font-style: oblique;
  }
}

#post_rich_body {
  background-color: white;
  min-height: 256px;
}