.footer {
  text-align: center;
  padding: 30px;
  background-color: white;
}

.footer a {
  font-size: 30px;
  color:  rgba(255, 245, 0, 0.95);
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: rgba(255, 40, 0, 1);
}
