.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  align: left;
}

.nav-item {
  a:hover {
    color: #fff500;
  }

  .current-page {
    color: #fff500;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}